@use './index.module.scss' as *;

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Noto Sans TC', sans-serif;
}
main {
	padding-top: $nav-height;
	background-color: $lightGray;
}
img {
	max-width: 100%;	
	height: auto;
}
a {
	text-decoration: none;
}