$margin-h1-mobile: 36px 0;
$font-size-h1-mobile: 48px;
$line-height-h1-mobile: 60px;
$font-size-h1-desktop: 60px;
$line-height-h1-desktop: 72px;

$margin-h2-mobile: 24px 0;
$font-size-h2-mobile: 36px;
$line-height-h2-mobile: 48px;

$margin-h3-mobile: 18px 0;
$font-size-h3-mobile: 24px;
$line-height-h3-mobile: 36px;

$margin-p-mobile: 12px 0;
$font-size-p-mobile: 18px;
$line-height-p-mobile: 30px;

$margin-li-mobile: 6px 0;
$font-size-li-mobile: 18px;
$line-height-li-mobile: 30px;

$font-weight-bold: 700;
$font-weight-regular: 400;