.center {
	margin: 0 auto;
	display: block;
}

.circle {
	border-radius: 50%;
}
.bdrd12 {
	border-radius: 12px;
}
.bdrd30 {
	border-radius: 30px;
}

.jcsb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.bgcw {
	background-color: white;
}

.mr12 {
	margin-right: 12px;
}
.mb12 {
	margin-bottom: 12px;
}
.p12 {
	padding: 12px;
}

.inputText {
	max-width: 192px;
	min-height: 42px;
	padding: 3px 12px;
	font-size: 18px;
	border-radius: 12px;
	border: 1px solid #BBB;
}