@use '@/design-tokens/index.module' as *;

.block {
	border-radius: 30px;
	background-color: $white;
}

.min-height {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media (min-width: $breakpoint1) {
		min-height: 360px;
	}
	@media (min-width: $breakpoint2) {
		min-height: 480px;
	}
}
.add-padding {
	padding: 30px;
}
.text-align-right {
	text-align: right;
}