@use '@/design-tokens/index.module' as *;

.button {
	display: inline-block;
	padding: 6px 18px;
	border: 1px solid $verdigris;
	border-radius: 24px;
	background-color: $verdigris;
	color: $white;
	font-size: $font-size-p-mobile;
	font-weight: $font-weight-regular;
	line-height: $line-height-p-mobile;
}
.button:hover, .button:active {
	cursor: pointer;
	animation-name: buttonChangeColor;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}
@keyframes buttonChangeColor {
  from {
	background-color: $verdigris;
	color: $white;
  }
  to {
    background-color: $white;
    color: $teal;
  }
}