@use '@/design-tokens/index.module' as *;

$card-width: 300px;

.card {
	border-radius: 24px;
	background-color: $white;
	min-width: $card-width;
	max-width: 360px;
	img {
		border-radius: 24px 24px 0 0;
	}
	h3, p {
		margin: 18px;
	}
	p {
		height: 60px;
	}
}
.card:hover {
	animation-name: cardAddShadow;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}
@keyframes cardAddShadow {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: -6px -6px 12px $white, 
		6px 6px 12px rgba($turquoise, 0.3);
	}
}