@use '@/design-tokens/index.module' as *;

.nav {
	// position: fixed;
	width: 100%;
	height: $nav-height;
	background-color: $lightGray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 9px;
}

.home {
	display: flex;
	align-items: center;
	text-decoration: none;
	p {
		margin-left: 9px;
	}
}
.logo {
	height: 36px;
	border-radius: 50%;
}
.name {
	font-size: $font-size-p-mobile;
	font-weight: $font-weight-regular;
	line-height: $line-height-p-mobile;
	color: $darkGray;
}

.toSection {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		list-style-type: none;
		&:not(&:last-child) {
			margin-right: 9px;
		}
		&:nth-child(2), &:nth-child(3) {
			display: none;
			@media (min-width: 600px) {
				display: block;
			}
		}
	}
}