@use '../design-tokens/index.module.scss' as *;

.grid-section {
	margin: 0 auto;
	width: $card-width;
	padding: 24px 0;
	@media (min-width: $breakpoint1) {
		width: calc($card-width * 2 + $grid-gap-md);
		padding: 36px 0;
	}
	@media (min-width: $breakpoint2) {
		width: calc($card-width * 3 + $grid-gap-lg * 2);
		padding: 48px 0;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: $grid-gap-sm;
	@media (min-width: $breakpoint1) {
		grid-template-columns: repeat(2, 1fr);
		gap: $grid-gap-md;
	}
	@media (min-width: $breakpoint2) {
		grid-template-columns: repeat(3, 1fr);
		gap: $grid-gap-lg;
	}
}

.mt {
	margin-top: $grid-gap-sm;
	@media (min-width: $breakpoint1) {
		margin-top: $grid-gap-md;
	}
	@media (min-width: $breakpoint2) {
		margin-top: $grid-gap-lg;
	}
}