/* layout */
$grid-gap-sm: 30px;
$grid-gap-md: 45px;
$grid-gap-lg: 60px;

.content {
	margin: 0 auto;
	width: 100%;
	max-width: $card-width;
	padding: 24px 0;
	@media (min-width: $breakpoint) {
		max-width: calc($card-width * 2 + $grid-gap-md);
		padding: 36px 0;
	}
	@media (min-width: $breakpoint2) {
		max-width: calc($card-width * 3 + $grid-gap-lg * 2);
		padding: 48px 0;
	}
}

.grid-area {
	margin: 48px auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: $grid-gap-sm;
	@media (min-width: $breakpoint) {
		grid-template-columns: repeat(2, 1fr);
		gap: $grid-gap-md;
	}
	@media (min-width: $breakpoint2) {
		grid-template-columns: repeat(3, 1fr);
		gap: $grid-gap-lg;
	}
}

.text-area {
	padding: 24px;
	max-width: calc($card-width * 2 + $grid-gap-md);
}

.button-area {
	text-align: right;
	margin: 18px;
}

.photo {
	margin: 0 auto;
	width: 120px;
}
.photo img {
	border-radius: 50%;
}
.contact {
	display: flex;
	align-items: center;
}
.contact img {
	width: 24px;
}

footer {
	background-color: $lightGray;
}