@use '../design-tokens/index.module.scss' as *;

.two-section {
	margin: 0 auto;
	width: $card-width;
	padding: 24px 0;
	@media (min-width: $breakpoint1) {
		width: calc($card-width * 2 + $grid-gap-md);
		padding: 36px 0;
		display: flex;
		justify-content: space-between;
	}
	@media (min-width: $breakpoint2) {
		width: calc($card-width * 3 + $grid-gap-lg * 2);
		padding: 48px 0;
	}

	& div {
		@media (min-width: $breakpoint1) {
			width: calc((100% - $grid-gap-sm) / 2);
		}
	}
	& div:not(div:last-child) {
		@media (max-width: calc($breakpoint1 - 1px)) {
			margin-bottom: $grid-gap-sm;
		}
		@media (min-width: $breakpoint1) {
			margin-bottom: 0;
			margin-right: $grid-gap-md;
		}
		@media (min-width: $breakpoint2) {
			margin-right: $grid-gap-lg;
		}
	}
}